body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 12px;
  font-size: 1.1em;
}

.calendar-row:hover {
  font-size: 1.2em;
}

.past-hour {
  background-color: #b3b1b1;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.present-hour {
  background-color: #dd5c60;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.future-hour {
  background-color: #4cce4c;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button {
  border-left: 3px solid rgb(25, 163, 176);
  border: 2px solid rgb(25, 163, 176);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #24b8c3;
  color: white;
  font-size: 1.5em;
}

button:hover {
  font-size: 1.7em;
  color: #464646;
  transition: all 0.3s ease-in-out;
}

header, footer {
  margin: 2.5em;
}